@font-face {
    font-family: 'NeueBit';
    src: url('NeueBit-Bold.woff2') format('woff2'),
        url('NeueBit-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* 769px — 1024px: Small screens, laptops */


.show-date {
    font-family: 'NeueBit';
    margin-top: 40px;
    margin-bottom: 7px;
    font-size: 20vw;
    color: rgb(17, 0, 255);
    display: block;
    text-align: center;
}




.container {
    margin-top: -30px;
}


.reveal {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: rgb(0, 0, 0);
    margin-top: 5px;
    border-style: outset;
    cursor: cell;
    padding: 4px;
    min-width: 30px;
    max-width: 45px;
}
.reveal:hover {
    background-color:rgb(230, 230, 230);
    cursor: cell;
}
.celeb-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: rgb(0, 0, 0);
    margin-top: -10px;
    display: none;
    width: 500px;
}
.celeb-name.active {
    display: block;
}





.date-container {
/*     max-width: 550px; */

    margin: auto;   
    border-radius: 25px;
    grid-gap: .4rem;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    text-align: center;
    display: block;
    justify-content: center;
    padding-bottom: 1rem;
}

.date-container:hover {
    cursor: cell;
}

.filter {
    padding: 1rem;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    cursor: cell;
    margin-top: -.7em;
    
}

.js-categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.item {
    padding: .3em;
    border-style: outset;
    margin: .2em;

}

.item:hover {
    color:rgb(209, 209, 209);
    
}



.js-reset {
    color: red;
}




/* Images */
/* styling image container */
.image-container {
    max-width: 20%;
    margin-top: -50px;
    margin-bottom: 5em;
    display: none;
   
}

.image-container.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
    
    /* making the images behind the colors
    and positioning them on the grid */
.celeb-image {
    max-width: 300px;
    position: relative;
    z-index: 1;
    cursor: cell;
    margin-top: -30px;

}
 
    
 

/* STYLING NAMES IN NAME CONTAINER */

.name-container {
    margin-top: -32em;
    margin-bottom: 3em;
    margin-left: 7%;
    display: none;
    margin-right: 30%; 
}

.name-container.active {
    display: block;
}

.celeb-insta {
    font-family: "Migra";
    font-style: italic;
    font-size: 2em;
    position: absolute;
    margin-top: -1.5em;
    color: #7cfc00;
    cursor: cell;
    display: none;
}

h2 {
    font-size: 7em;
    font-family: "NeueBit";
    color: #1100ff;
    cursor: cell;
}

h2:hover {
    color: rgb(209, 209, 209);
}



    




